<%= form_for(@relationship) do |f| %>
     <%=render :partial => 'share/error_messages', :locals => {:record => @relationship}%>
  <div class="field">
    <%= f.collection_select :predator_id, Animal.all, :id, :species%>
    preys on

    <%= f.collection_select :prey_id, Animal.all, :id, :species%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
