<h2>Listing relationships</h2>

<table>
  <tr>
    <th>Predator</th>
    <th></th><th>Prey</th>
    <th></th>
    <th></th>

  </tr>

<% @relationships.each do |relationship| %>
  <tr>
    <td><%= link_to relationship.predator.species, animal_path(relationship.predator_id)%></td>
    <td> preys on </td>
    <td><%= link_to relationship.prey.species, animal_path(relationship.prey_id) %></td>
    <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
    <td><%= link_to 'Destroy', relationship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relationship', new_relationship_path %>
