<p id="notice"><%= notice %></p>

<p>
  <b>Predator:</b>
  <%= @relationship.predator_id %>
</p>

<p>
  <b>Prey:</b>
  <%= @relationship.prey_id %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
