<h2><%= @title%></h2>
<table>
	<tr>
      <%if current_user.admin%>
		<th> Admin </th>
		<th> Name </th>
        <th> Email </th>
		<th> Action </th>
		<% else %>
        <th>Name</th>
        <th>Animals</th>
		 <%end%>
	</tr>
	<%@users.each do |user|%>
	<tr>
      <%if current_user.admin?%>
		<td>
			<%if user.admin?%>
				Admin
			<%end%>
		</td>
		<td>
			<%= link_to user.name, user%>
		</td>
		<td>
			<%= user.email%>
		</td>
		<td><%= link_to "Delete", cancel_user_registration_path, :method => :delete%></td>
	    <%else%>
      <td>
       <%= user.name%>
      </td>
          <td></td>
          </tr>
          <%user.animals.each do |animal|%>
              <tr>
                <td></td>
                <td><%= link_to animal.species, animal%></td>
                </td>
              </tr>
                <%end%>

       <%end%>
	</tr>
	<%end%>
</table>