<h2>Listing animals</h2>

<table>
  <tr>
    <th>Species</th>
    <th>Price</th>
    <th>Info</th>
    <th></th>

      <%if current_user && current_user.admin?%>
    <th>Admin</th>
        <th>Actions</th>
        <%end%>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><%= link_to animal.species, animal %></td>
    <td>$<%= animal.price %></td>
    <td><%= animal.info %></td>
    <td>
      <%= form_for current_user.owners.build(:animal_id => animal.id) do |f| %>
  <div><%= f.hidden_field :animal_id %></div>
  <div class="actions"><%= f.submit "Buy" %></div>
<% end %>
      </td>

    <%if current_user.admin?%>
    <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
    <td><%= link_to 'Destroy', animal, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%if current_user && current_user.admin?%>
		<%= link_to 'New Animal', new_animal_path %>
<%end%>
