

<p>
  <b>Type:</b>
  <%= @animal.type %>
</p>
<p>
  <b>Info:</b>
  <%= @animal.info %>
</p>
<p>
  <b>Size:</b>
  <%= @animal.value %>
</p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
