<h2>Showing Animal</h2>

<p>
  <b>Species:</b>
  <%= @animal.species %>
</p>
<p>
  <b>Info:</b>
  <%= @animal.info %>
</p>
<p>
  <b>Price:</b>
  $<%= @animal.price %>
</p>

<p>
<b>Predators:</b>
  <% @animal.predators.each do |predator|%>
      <%= predator.species%>,
  <%end%>
</p>

<p>
<b>Prey:</b>
  <% @animal.prey.each do|prey| %>
  <%= prey.species%>, <%end%>

</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
