<h4><span>Administrator's Bar</span></h4>
<ul class="blocklist">
	<li>
		<%= link_to "Edit Users", users_path%>
	</li>
	<li>
		<%= link_to "Edit Animals", animals_path%>
	</li>
	<li>
		<%= link_to "Manage Relationships", relationships_path%>
	</li>
    <li>
        <%= link_to "View Purchases", "/purchases" %>
    </li>
  <li>
        <%= link_to "View Sales", "/sales" %>
    </li>

</ul>