  <div class="sidebar">
                <ul>
                   <li>
                   	<%if user_signed_in?%>
                   		<%if user.admin?%>
                        <h4><span>Admin Bar</span></h4>
                        <ul class="blocklist">
                        	
                            <li><%= link_to_unless_current "Edit Users", users_path%></li>
                            <li><%= link_to_unless_current "Edit Animals", animals_path%><a href="examples.html">Examples</a></li>
                            <li><%= link_to_unless_current "Mangage Relationships", root_path%></li>
                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <%else%>
                         <ul class="blocklist">
                        <li><%= link_to_unless_current "Buy/Sell Animals", root_path%></li>
                        <li><%= link_to_unless_current "Trade Animals", root_path%></li>
                        </ul>
                        <%end%>
                        
                        <%else%>
                        <ul class="blocklist">
                        	<li><%= link_to_unless_current "Sign up", new_user_path%></li>
                        </ul>
                        <%end%>
                    </li>
                </ul>
                <div class="sidebar-end"></div>
            </div>